<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pokédex</a>
    </div>
     <form class="navbar-form navbar-right" #Form="ngForm" (ngSubmit)="search(Form)">
      <div class="form-group">
        <input type="text" class="form-control" auto-complete [source]="names" id="search" (keyup)="filter()" name="search" placeholder="Enter N°/Name here">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">

  <div class="row margin-b-2">
    <div class="col-sm-6">
      <div class="caption" style="text-align:center">
        <ul class="list-group" id="pokemons" infinite-scroll>
          <ng-container *ngFor='let pokemon of data.results | paginate: {itemsPerPage: 10, currentPage:page, id: "1"}' #pokemons>
            <li class="list-group-item" (click)="getInfoPokemon(pokemon.url)">{{ pokemon.name }}</li>
          </ng-container>
        </ul>
        <pagination-controls (pageChange)="page = $event" 
          id="1"
          maxSize="10"
          directionLinks="true"
          autoHide="true">
        </pagination-controls>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="caption" style="text-align:center; margin-top: 100px">
        <div *ngIf="err">
          <p>The pokemon {{ err }} not found..</p>
        </div>
        <div *ngIf="service.loading == true">
          <img src="{{img}}"/>
          <p>Id: {{ data.id }}</p>
          <p>Name: {{ data.name }}</p>
          <p>Weight: {{ data.weight }}</p>
          Types: <span *ngFor='let value of type'>{{ value }} </span>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer class="margin-tb-3" style="text-align:center">
    <div class="row">
      <div class="col-lg-12">
        <p>Pokedex 2017</p>
      </div>
    </div>
  </footer>

</div>